// COLORS
$color-black: #000;
$color-white: #fff;
$color-white2: #F9F9F9;
$color-gray: #F5F6F6;
$color-gray_dark: #747474;
$color-gray2: #747474;
$color-gray3: #EFEFEF;
$color-gray4: #CCCCCC;
$color-primary: #FF650C;
$color-orange: #F68E56;
$color-orange2: #FD7F36;
$color-primary__hover: #d24903;
$color-border_gray: #CCCCCC;
$btn-border-color: #303a45;
